body {
    background-color: rgba(28,64,76,255);
    font-family: "Trirong", serif;
}

/* -------------------------button zone --------------------------------*/

#btnSetting {
    background-color: rgba(222,158,70,255);
    color: rgba(28,64,76,255);
    border-radius: 0;
    font-size: 3.5rem;
    height: 6rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

#btnLogIn {
    background-color: rgba(45,128,119,255);
    color: rgba(222,158,70,255);
    border-radius: 0;
    font-size: 3rem;
    height: 6rem;
    padding: 0% 2rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

#btnPlay {
    height: 8rem;
    width: 50%;
    background-color: white;
    color: rgba(45,128,119,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 3rem;
    margin-top: 7rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}
#btnLeaderboard {
    height: 8rem;
    width: 50%;
    background-color: white;
    color: rgba(205,79,65,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 3rem;
    margin-top: 2rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}
#btnHow {
    height: 5rem;
    width: 30%;
    background-color: white;
    color: rgba(222,158,70,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}

#btnLogin {
    background-color: rgba(45,128,119,255);
    color: white;
    width: 100%;
    padding: 0.75rem 0%;
}

#btnSignup {
    background-color: rgba(45,128,119,255);
    color: white;
    width: 100%;
    padding: 0.75rem 0%;
}

.ToggleSignup {
    background: none; 
    border: none; 
    color: rgba(205,79,65,255);
    font-weight: bold;
}

#btnNext {
    background-color: rgba(45,128,119,255);
    color: white;
    font-weight: bold;
    width: 6rem;
}

#btnBack {
    background: white;
    box-shadow: 0px 5px rgba(21,48,57,255);
    color: rgba(222,158,70,255);
    font-size: 2.5rem;
    font-weight: bold;
    width: 12rem;
}

#btnQuick {
    background-color: white;
    width: 22rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
    margin-right: 15rem;
}

#btnFriend {
    background-color: white;
    width: 22rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
}

#btnJoin {
    background-color: white;
    box-shadow: 0px 7px rgba(21,48,57,255);
    width: 15rem;
}

#btnCreateRoom {
    background-color: white;
    box-shadow: 0px 7px rgba(21,48,57,255);
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

#table-field {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;
    height: 85vw;
    border-spacing: 4px 2px;
}

#td-field {
    padding: 4px;
    width: 33%;
    height: 33%;
}

.channel{
    font-size: 3.4em;
    font-size: 16vmin;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 3px 0px  #000;
}
.channel:hover{
    background-color: hsl(0, 0%, 80%);
    transition: 0.25s;
}

/* -------------------------button zone --------------------------------*/

/* -------------------------text zone --------------------------------*/

#text-mode-green {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 4rem;
}

#text-mode-red {
    color: rgba(205,79,65,255);
    font-weight: bold; 
    font-size: 2.5rem;
}

#icon-mode {
    color: rgba(222,158,70,255); 
    font-size: 5rem;
}

#text-goBack {
    font-size: 2.5rem; 
    color: rgba(222,158,70,255); 
    font-weight: bold; 
    vertical-align: middle; 
    padding-left: 1rem;
}

th {
    color: rgba(205,79,65,255);
}

#text-modal-head {
    font-size: 2.5rem; 
    font-weight: bold;
}

#text-modal-body {
    font-weight: bold;
}

#text-roomcode {
    font-weight: bold; 
    color: rgba(205,79,65,255); 
    font-size: 3rem;
}

#input-friend-join {
    font-weight: bold; 
    font-size: 3rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
}

#text-join {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 3rem;
    margin-left: 1rem;
}

#text-OR {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-Create {
    color: rgba(45,128,119,255); 
    margin-left: 1rem;
}

#text-Room {
    color: rgba(205,79,65,255);
    margin-left: 1rem;
}

#icon-plus {
    color: rgba(222,158,70,255); 
}

/* -------------------------text zone --------------------------------*/

.navbar {
    background-color: rgba(205,79,65,255);
    padding: 0%;
}

.container-fluid {
    padding: 0%;
    padding-left: 2%;
}

#MainLogo {
    margin-top: 3rem;
    margin-left: 7rem;
}

#leaderTable {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#join-icon {
    color: rgba(222,158,70,255); 
    font-size: 3rem;
}