body {
    background-color: rgba(28,64,76,255);
    font-family: "Trirong", serif;
}

:root {
    --bg-playerdisplay: #F9EFDB;
    --red: #FF4B4B;
    --blue: #2B70C9;
    --yellow: rgba(222,158,70,255);
    --green: rgba(45,128,119,255);
}

/* -------------------------button zone --------------------------------*/

#btnSetting {
    background-color: rgba(222,158,70,255);
    color: rgba(28,64,76,255);
    border-radius: 0;
    font-size: 3.5rem;
    height: 6rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

#btnLogIn {
    background-color: rgba(45,128,119,255);
    color: rgba(222,158,70,255);
    border-radius: 0;
    font-size: 3.5rem;
    height: 6rem;
    padding: 0% 2rem;
}

#btnPlay {
    /* height: 8rem;
    width: 50%; */
    background-color: white;
    color: rgba(45,128,119,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 3rem;
    margin-top: 3rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}
#btnLeaderboard {
    /* height: 8rem;
    width: 50%; */
    background-color: white;
    color: rgba(205,79,65,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 3rem;
    margin-top: 2rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}
#btnHow {
    /* height: 5rem;
    width: 30%; */
    background-color: white;
    color: rgba(222,158,70,255);
    font-weight: bold;
    font-family: "Trirong", serif;
    font-size: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 5px rgba(21,48,57,255);
}

#btnLogin {
    background-color: rgba(45,128,119,255);
    color: white;
    width: 100%;
    padding: 0.75rem 0%;
    font-size: 1.5rem;
}

#btnSignup {
    background-color: rgba(45,128,119,255);
    color: white;
    width: 100%;
    padding: 0.75rem 0%;
    font-size: 1.5rem;
}

.ToggleSignup {
    background: none; 
    border: none; 
    color: rgba(205,79,65,255);
    font-weight: bold;
    font-size: 1.5rem;
}

#btnNext {
    background-color: rgba(45,128,119,255);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    /* width: 10rem;
    height: 3rem; */
}
#btnPrevious {
    background-color: var(--red);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    /* width: 10rem;
    height: 3rem; */
}

#btnBack {
    background: white;
    box-shadow: 0px 5px rgba(21,48,57,255);
    color: rgba(222,158,70,255);
    font-size: 2.5rem;
    font-weight: bold;
    width: 12rem;
}

#btnQuick {
    background-color: white;
    /* width: 22rem; */
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
    /* margin-right: 15rem; */
}

#btnFriend {
    background-color: white;
    /* width: 22rem; */
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
}

#btnJoin {
    background-color: white;
    box-shadow: 0px 7px rgba(21,48,57,255);
    width: 15rem;
}

#btnCreateRoom {
    background-color: white;
    box-shadow: 0px 7px rgba(21,48,57,255);
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

#btnAccount {
    background-color: rgba(45,128,119,255);
    color: rgba(222,158,70,255);
    border-radius: 0;
    font-size: 3rem;
    height: 6rem;
    padding: 0% 2rem;
    padding-top: 0%;
    padding-bottom: 0%;
}

#btnLogOut {
    color: rgba(205,79,65,255);
    font-weight: bold; 
    font-size: 1.5rem;
}

#btnProfile {
    color: rgba(45,128,119,255);
    font-weight: bold; 
    font-size: 1.5rem;
}

#btnChange {
    background-color: rgba(45,128,119,255);
    color: white;
    width: 100%;
    padding: 0.75rem 0%;
}

/* -------------------------button zone --------------------------------*/

/* -------------------------text zone --------------------------------*/
.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}
#text-mode-green {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 4rem;
}

#text-mode-red {
    color: rgba(205,79,65,255);
    font-weight: bold; 
    font-size: 2.5rem;
}

#icon-mode {
    color: rgba(222,158,70,255); 
    font-size: 5rem;
}

#text-goBack {
    font-size: 2.5rem; 
    color: rgba(222,158,70,255); 
    font-weight: bold; 
    vertical-align: middle; 
    padding-left: 1rem;
}

th {
    color: rgba(205,79,65,255);
}

#text-modal-head {
    font-size: 2.5rem; 
    font-weight: bold;
}

#text-modal-body {
    font-weight: bold;
    font-size: 1.5rem;
}

#text-htp-head {
    font-weight: bold;
    font-size: 4rem;
}

#htp-description {
    font-size: 1.75rem;
}

#text-roomcode {
    font-weight: bold; 
    color: rgba(205,79,65,255); 
    font-size: 3rem;
}

#input-friend-join {
    font-weight: bold; 
    font-size: 3rem;
    box-shadow: 0px 7px rgba(21,48,57,255);
}

#text-join {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 3rem;
    margin-left: 1rem;
}

#text-OR {
    color: rgba(45,128,119,255); 
    font-weight: bold; 
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-Create {
    color: rgba(45,128,119,255); 
    margin-left: 1rem;
}

#text-Room {
    color: rgba(205,79,65,255);
    margin-left: 1rem;
}

#icon-plus {
    color: rgba(222,158,70,255); 
}

#DisplayName {
    font-size: 1.5rem;
}

#UserScore {
    font-size: 1.5rem;
}

#main-icon {
    width: 100px;
    height: 100px;
}

#sub-icon {
    width: 75px;
    height: 75px;
}

/* -------------------------text zone --------------------------------*/

.navbar {
    background-color: rgba(205,79,65,255);
    padding: 0%;
}

.container-fluid {
    padding: 0%;
    padding-left: 2%;
}

#MainLogo {
    width: 500px ;
    height: 200px;
}

#leaderTable {
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#join-icon {
    color: rgba(222,158,70,255); 
    font-size: 3rem;
}

#container-index {
    margin-top: 4rem;
}

#howtoplay-content{
    padding-left: 4rem;
    padding-right: 4rem;
}

#MiddleTableMode {
    width: 20%;
}

#mode-container {
    padding-top: 10rem;
}

/* -------------------------Lobby zone--------------------------------*/
#lobby_playerOne {
    background-color: var(--bg-playerdisplay);
    border-radius: 10px;
    border: 10px solid var(--red);
    width: 547px;
    height: 377px;
}
#vsText {
    font-size: 80px;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 600;
}
#lobby_playerTwo {
    background-color: var(--bg-playerdisplay);
    border-radius: 10px;
    border: 10px solid var(--blue);
    width: 547px;
    height: 377px;
}
#textRoomcode {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--red);
}
#num-roomcode {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 40px;
    background-color: white;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 7px 0px rgba(21,48,57,255);
}
#btnCopy {
    background-color: var(--yellow);
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 7px 0px rgba(21,48,57,255);
}
#btn-ready {
    background-color: rgba(45,128,119,255);
    margin: 0;
    border-radius: 5px;
}
#text-ready {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    color: var(--yellow);
    margin: 0;
    font-size: 50px;
}
#btn-cancel {
    background-color: var(--red);
    margin: 0;
    border-radius: 5px;
}
/* -------------------------Field container zone--------------------------------*/
.nothing-you could do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}
.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#main-row-field {
    margin-top: -20px;
}
#table-field {
    max-width: 500px;
    max-height: 500px;
    width: 100vw;
    height: 100vw;
    /* border-spacing: 4px 2px; */
}
#td-field {
    padding: 5px;
    width: 33%;
    height: 33%;
}
#navfield {
    margin: 0;
    margin-bottom: 20px;
}
#timeblock {
    margin: 0;
}
#countTime {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-size: 60px;
    color: var(--yellow);
    margin: 0;
    margin-left: 1rem;
}
#countTurn {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-size: 35px;
    color: var(--yellow);
    margin: 0;
    margin-left: 1rem;
}
#logoplayerNav {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: var(--red);
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 9999px;
    font-size: 90px;
    z-index: 1;
}
#textlogo-turn {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: white;
    font-size: 100px;
    margin: 0;
}
.channel{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-size: 100px;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
}
.channel:hover{
    background-color: hsl(0, 0%, 80%);
    transition: 0.25s;
}

#layerTop {
    margin: 0;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 800;
    font-style: normal;
}
#layerBottom {
    margin: 0;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 600;
    font-style: normal;
}
#logoplayer1 {
    text-align: center;
    background-color: var(--red);
    width: 153px;
    height: 153px;
    border-radius: 9999px;
    z-index: 1;
    margin-bottom: -50px;
}
#logoplayer2 {
    text-align: center;
    background-color: var(--blue);
    width: 153px;
    height: 153px;
    border-radius: 9999px;
    z-index: 1;
    margin-bottom: -50px;
}
#textlogo {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: white;
    font-size: 100px;
    margin: 0;
}
#playerOne {
    background-color: var(--bg-playerdisplay);
    border-radius: 10px;
    border: 10px solid var(--red);
    width: 329px;
    height: 377px;
    padding-top: 5rem;
}
#player1 {
    margin-bottom: -20px;
    font-size: 30px;
}
#playerName1 {
    margin: 0;
    color: var(--red);
    font-size: 70px;
}
#score1 {
    margin-bottom: -30px;
    font-size: 30px;
}
#numScore1 {
    margin: 0;
    color: var(--red);
    font-size: 100px;
}

#playerTwo {
    background-color: var(--bg-playerdisplay);
    border-radius: 10px;
    border: 10px solid var(--blue);
    width: 329px;
    height: 377px;
    padding-top: 5rem;
}
#player2 {
    margin-bottom: -20px;
    font-size: 30px;
}
#playerName2 {
    margin: 0;
    color: var(--blue);
    font-size: 70px;
}
#score2 {
    margin-bottom: -30px;
    font-size: 30px;
}
#numScore2 {
    margin: 0;
    color: var(--blue);
    font-size: 100px;
}
/* #win-sudden-head {
    color: var(--yellow);
    font-size: 25px;
    margin: 0;
}
#win-sudden-playername {
    color: var(--green);
    font-size: 40px;
    margin: 0;
}
#win-text {
    color: var(--green);
    font-size: 40px;
    margin: 0;
} */


/* -------------------------Sudden Zone--------------------------------*/
#sudden-content {
    border: 10px solid #638889;
}
#sudden-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sudden-header-text {
    font-size: 60px;
    color: var(--red);
}
#sudden-head-text {
    font-size: 25px;
    color: var(--green);
}
#suddenp1 {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#suddenp1-logo {
    background-color: var(--red);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 85px;
    height: 85px;
    border-radius: 9999px;
    font-family: "Fredoka", sans-serif;
}
#suddenp1-player1 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 25px;
}
#suddenp1-playername1 {
    font-family: "Nothing You Could Do", cursive;
    color: var(--red);
    margin-top: -10px!important;
    font-size: 40px;
}
#suddenp2 {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#suddenp2-logo {
    background-color: var(--blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 85px;
    height: 85px;
    border-radius: 9999px;
    font-family: "Fredoka", sans-serif;
}
#suddenp2-player2 {
    font-family: "Nothing You Could Do", cursive;
    font-size: 25px;
}
#suddenp2-playername2 {
    font-family: "Nothing You Could Do", cursive;
    color: var(--blue);
    margin-top: -10px!important;
    font-size: 40px;
}
#suddenp2 {
    flex: 1 1 30%;
    text-align: center;
}
#suddentimecount {
    flex: 1 1 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
#suddentime-header {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
}
#suddentime-count {
    font-family: "Fredoka", sans-serif;
    font-size: 50px;
}
#sudden-btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.btn-sudden{
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 0px 8px 0px #9f9f9f;
    transition: 0.25s;
}
.btn-sudden:hover{
    background-color: #9f9f9f;
}
#img-rock, #img-paper, #img-scissors {
    width: 90px;
    height: auto;
}

/* -------------------------Win Result--------------------------------*/
#logo-win {
    background-color: var(--green);
    border-radius: 9999px;
    width: 150px;
    height: 150px;
}
#emoji-win {
    font-size: 100px!important;
}
#win-result-col {
    background-color: var(--bg-playerdisplay);
    width: 500px;
    padding: 30px 0 30px 0;
    border: 8px solid var(--green);
    border-radius: 10px;
}
#win-update-name {
    font-family: "Nothing You Could Do", cursive;
    font-size: 40px;
    margin: 0;
}
#win-text {
    font-family: "Nothing You Could Do", cursive;
}
#gameResult {
    font-size: 50px;
}
#scoreplus {
    font-size: 20px;
}
#btnBacktoHome {
    background: var(--red);
    box-shadow: 0px 5px rgba(21,48,57,255);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    width: 12rem;
}
#btnPlayAgain {
    background: var(--green);
    box-shadow: 0px 5px rgba(21,48,57,255);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    width: 12rem;
}

#logo-lose {
    background-color: var(--red);
    border-radius: 9999px;
    width: 150px;
    height: 150px;
}
#emoji-lose {
    font-size: 100px!important;
}
#lose-result-col {
    background-color: var(--bg-playerdisplay);
    width: 500px;
    padding: 30px 0 30px 0;
    border: 8px solid var(--red);
    border-radius: 10px;
}
#lose-update-name {
    font-family: "Nothing You Could Do", cursive;
    font-size: 40px;
    margin: 0;
}
#lose-text {
    font-family: "Nothing You Could Do", cursive;
}